@font-face {
  font-family: oxygen-1;
  src: url("../fonts/Oxygen/Oxygen-Bold.ttf");
}
@font-face {
  font-family: oxygen-2;
  src: url("../fonts/Oxygen/Oxygen-Light.ttf");
}
@font-face {
  font-family: oxygen-3;
  src: url("../fonts/Oxygen/Oxygen-Regular.ttf");
}

@font-face {
  font-family: poppins-1;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: poppins-2;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
}
:root {
  --orange: #f16725;
  --light-orange: #ffffe3;
  --lightgray: #5a5a5e;
  --spanorange: #ff5555;
  --gray: #1e1f38;
}
span {
  color: var(--spanorange);
}
.span-1 {
  color: var(--orange);
}
.space {
  margin: 100px;
}
header {
  background-color: var(--light-orange);
  width: 100%;
  min-height: 46.25rem;
}
.header-container {
  width: 85%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 1.5rem;
}
header a {
  text-decoration: none;
  font-size: 0.875rem;
  font-family: poppins-2;
  font-weight: 700;
  color: var(--lightgray);
}
/* NAV MENU */
.left-menu a:hover {
  color: var(--orange);
}
.L-1 {
  color: var(--orange);
}
.box {
  background-color: var(--orange);
  padding: 13px 25px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.logo {
  height: 33px;
  width: 118.42px;
  margin-bottom: 100px;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 120px;
}
.left-menu {
  display: flex;
  gap: 40px;
  margin-left: 80px;
  align-items: center;
}
.right-menu {
  display: flex;
  gap: 60px;
  align-items: center;
}
.togglebutton {
  display: none;
  color: var(--orange);
  font-size: 30px;
}
/* LANDING PAGE */
.landing-container {
  display: flex;
  height: 500px;
  justify-content: center;
}
.landing-text {
  /* border: 2px solid rgb(59, 20, 233); */
  width: 80%;
}
.landing p {
  color: var(--orange);
  padding-bottom: 5px;
  font-family: poppins-1;
  font-size: 14px;
}
.box-2 {
  background-color: var(--orange);
  padding: 15px 30px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.box-2:hover {
  border: 1px solid var(--orange);
  color: var(--orange);
  background-color: var(--light-orange);
}
.L-2 {
  color: var(--spanorange);
  margin-left: 40px;
  border-radius: 4px;
}
.L-2:hover {
  padding: 13px 22px;
  border: 1px solid var(--spanorange);
  color: var(--spanorange);
  background-color: var(--light-orange);
}
.landing h1 {
  width: 100%;
  font-family: oxygen-1;
  font-size: 54px;
  font-weight: 500;
  margin-right: 0px;
  color: var(--gray);
}
.landing h6 {
  width: 85%;
  font-family: poppins-1;
  font-size: 16px;
  color: #5a5a5e;
  font-weight: 400;
  padding-top: 15px;
  /* border: 2px solid black; */
}
#account {
  margin-top: 50px;
}
.circle {
  position: absolute;
  right: 155px;
  top: 270px;
  height: 431px;
  width: 431px;
  /* border: 2px solid rgb(31, 187, 25); */
}
.laptop {
  position: relative;
  right: 40px;
  top: 20px;
  height: 290px;
  width: 666px;
  /* border: 2px solid rgb(112, 54, 219); */
}
.photo {
  display: flex;
  /* border: 2px solid rgb(37, 141, 211); */
  width: 50%;
}

/* SECTION 1 */
.section-1 {
  width: 100%;
  min-height: 65.375rem;
  align-items: center;
}
.section-1-container {
  width: 80%;
  margin: 0px 10% 0px 10%;
  padding-top: 136px;
}
.users h2 {
  font-family: oxygen-1;
  font-size: 48px;
  font-weight: 600;
  width: 51%;
  color: var(--gray);
}
.paga-uses {
  display: grid;
  gap: 45px 45px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 45px 0px 0px 0px;
}
.paga-uses h4 {
  font-family: oxygen-1;
  font-size: 20px;
  color: var(--orange);
  padding-top: 10px;
}
.paga-uses p {
  font-family: oxygen-2;
  font-size: 16px;
  color: var(--lightgray);
  font-weight: 600;
  padding-top: 10px;
}
.paga-uses a {
  text-decoration: none;
  color: var(--orange);
  font-family: oxygen-1;
  font-size: 16.2px;
  line-height: 100px;
}
.paga-uses-1 {
  background-color: var(--light-orange);
  padding: 20px 30px 0px 30px;
  border-radius: 30px;
}
.paga-uses-2 {
  background-color: var(--light-orange);
  padding: 20px 30px 0px 30px;
  border-radius: 30px;
}
.paga-uses-3 {
  background-color: var(--light-orange);
  padding: 20px 30px 0px 30px;
  border-radius: 30px;
}
.paga-uses-4 {
  background-color: var(--light-orange);
  padding: 20px 30px 0px 30px;
  border-radius: 30px;
}
.paga-uses-5 {
  background-color: var(--light-orange);
  padding: 20px 30px 0px 30px;
  border-radius: 30px;
}
.paga-uses-6 {
  background-color: var(--light-orange);
  padding: 20px 30px 0px 30px;
  border-radius: 30px;
}
.buttons-11 {
  display: flex;
  gap: 20px;
  justify-content: center;
  display: none;
}

/* SECTION 2 */
.section-2 {
  width: 100%;
  min-height: 580px;
  padding-top: 50px;
}
.section-2-container {
  width: 80%;
  margin: 0px 10% 0px 10%;
}
.why-paga h2 {
  text-align: center;
  font-size: 48px;
  font-family: oxygen-1;
  padding: 10px 0px 100px 0px;
  color: var(--gray);
}
.why-paga p {
  background-color: #fdb913;
  width: 100px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  padding: 6.5px;
  font-size: 16px;
  font-family: oxygen-3;
  font-weight: 500;
  color: white;
}

.why-contents {
  display: grid;
  gap: 10%;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}
.why-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why-1 h3 {
  color: var(--orange);
  font-size: 20px;
  font-family: oxygen-1;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}
.why-1 p {
  color: var(--lightgray);
  font-size: 16px;
  font-family: oxygen-2;
  font-weight: 600;
  text-align: center;
  padding-top: 12px;
}

/* SECTION 3 */
.section-3 {
  background-color: var(--light-orange);
  width: 100%;
  min-height: 47.44rem;
  align-items: center;
}
.section-3-container {
  width: 80%;
  padding: 50px 10% 0px 10%;
}

.TV-test h1 {
  font-size: 48px;
  font-family: oxygen-1;
  color: var(--gray);
  /* border: 2px solid black; */
}
.TV-test p {
  color: var(--spanorange);
  font-size: 24px;
  font-family: oxygen-1;
  padding: 15px 0px 50px 0px;
  /* border: 2px solid black; */
}
.tv-stations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 3.5rem 2.5rem;
  /* border: 2px solid black; */
  align-items: center;
}
.tv-stations img {
  width: 98%;
  aspect-ratio: 156/96;
  object-fit: contain;
  border-radius: 5px;
}
#tv-2 img {
  margin-left: 60%;
}

/* SECTION 4 */
.section-4 {
  width: 100%;
  min-height: 44.4rem;
}
.section-4-container {
  background-color: var(--orange);
  width: 82%;
  min-height: 30.63rem;
  margin: 100px 9% 120px 9%;
  border-radius: 30px;
  color: white;
  align-items: center;
}
.agents {
  display: flex;
  gap: 0%;
  min-height: 30.63rem;
}

.agent-text {
  width: 45%;
  padding: 96px 0px 0px 110px;
}

.agent-text h5 {
  background-color: #fdb913;
  width: 120px;
  text-align: center;
  border-radius: 50px;
  padding: 6px;
  font-size: 13px;
  font-family: oxygen-2;
  font-weight: 600;
}
.agent-text h1 {
  font-family: oxygen-1;
  font-size: 46px;
  padding-top: 8px;
}

.agent-text p {
  font-family: oxygen-2;
  font-size: 19px;
  padding-top: 18px;
  width: 90%;
}

#agent-link-1 a {
  text-decoration: none;
  color: var(--orange);
  background-color: white;
  border-radius: 4px;
  padding: 12px 28px;
}
#agent-link-1 a:hover {
  color: var(--light-orange);
  border: 1px solid var(--light-orange);
  background-color: var(--orange);
}
#agent-link-2 a:hover {
  border: 1px solid var(--gray);
  color: var(--gray);
  background-color: var(--orange);
}
#agent-link-2 a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 12px 28px;
}

.agent-link {
  display: flex;
  gap: 18px;
  padding-top: 40px;
  font-family: oxygen-2;
  font-size: 14px;
  font-weight: 600;
  /* border: 2px solid black; */
}
.img-1 img {
  position: absolute;
  width: 200px;
  height: 200px;
}
.img-2 img {
  position: relative;
  width: 180px;
  height: 180px;
  left: 18px;
  top: 30px;
  right: 100px;
}
.img-3 img {
  position: relative;
  width: 200px;
  height: 200px;
  top: 10px;
  left: 150px;
}
.agent-img {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px 10px;
  width: 45%;
}

/* SECTION 5 */
.section-5-container {
  width: 100%;
  justify-content: center;
  min-height: 647px;
}
.customer-text {
  font-family: oxygen-1;
  font-size: 27px;
  text-align: center;
  padding: 60px 0px 80px 0px;
  color: var(--gray);
}
.customers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0% 80px 0%;
  width: 85%;
  margin: 0px 7.5% 0px 7.5%;
}

.customers-1 {
  width: 21%;
}
.customers-1 h2 {
  font-family: oxygen-1;
  font-size: 20px;
  font-weight: 900;
  color: var(--gray);
  text-align: center;
  padding: 12px 0px;
}
.customers-1 p {
  font-family: oxygen-2;
  font-size: 15.5px;
  font-weight: 600;
  color: var(--lightgray);
  text-align: center;
}

.customers-1 img {
  margin-left: 35px;
  width: 170px;
  height: 170px;
}
.customers-1 i {
  width: 20px;
  height: 17px;
  color: #55acee;
  padding-left: 10px;
}
.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 66px;
}
.buttons-1,
.buttons-3 {
  width: 18px;
  height: 18px;
}
.buttons-2 {
  width: 24px;
  height: 24px;
}

/* SECTION 6 */
.section-6 {
  width: 100%;

  margin-top: 100px;
}
.section-6-container {
  width: 80%;
  margin: 0px 10%;
  align-items: center;
  justify-content: center;
}
.partners-text h1 {
  font-size: 46px;
  font-family: oxygen-1;
  color: var(--gray);
  width: 70%;
  margin: 55px 0px 40px 0px;
}
.section-6 img {
  width: 99.8%;
  aspect-ratio: 1228/453;
  object-fit: contain;
  mix-blend-mode: inherit;
  margin-bottom: 67px;
}

/* SECTION 7 */
.section-7 {
  width: 100%;
}

.section-7-container {
  display: flex;
  flex-direction: row;
  background-color: var(--orange);
  width: 82%;
  min-height: 404px;
  margin: 110px 9% 180px 9%;
  border-radius: 40px;
  color: white;
  justify-content: space-evenly;
  align-content: center;
}

.download-text {
  width: 45%;
  padding: 60px 0px 0px 0px;
}
.download-text h5 {
  background-color: #fdb913;
  width: 200px;
  text-align: center;
  border-radius: 50px;
  padding: 12px;
  font-size: 16px;
  font-family: oxygen-2;
  font-weight: 500;
}
.download-text h1 {
  font-family: oxygen-1;
  font-size: 36px;
  padding-top: 8px;
}
.download-img {
  margin-top: 50px;
}
.hand-1 {
  display: none;
}
.download-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

#apple-link img {
  border-radius: 10px;
}

#goggle-link img {
  border-radius: 10px;
}
.download-link img {
  width: 200px;
  aspect-ratio: 9/3;
}

/* FOOTER */
footer {
  background-color: var(--light-orange);
  min-height: 27rem;
  width: 100%;
}
.footer-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 80px 5% 0 10%;
  padding-top: 96px;
}
.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 25%;
  line-height: 24px;
  text-align: justify;
}
.footer-text a:hover {
  border-bottom: 0px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}
.social-1 {
  background-color: rgb(248, 213, 200);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
#insta {
  padding-left: 5px;
  padding-bottom: 1px;
}
#fb {
  padding-left: 8px;
  padding-bottom: 1.5px;
}
#twit {
  padding-left: 5px;
  padding-bottom: 1.5px;
}
#yt {
  padding-left: 5px;
  padding-bottom: 3px;
}
.footers {
  width: 75%;
  display: flex;
  padding-left: 5%;
}

footer a {
  text-decoration: none;
  font-family: oxygen-2;
  font-size: 13px;
  font-weight: 600;
  color: var(--lightgray);
  line-height: 30px;
}
footer a:hover {
  color: #000;
}
.paga-text {
  color: var(--lightgray);
  font-size: 14px;
  font-family: oxygen-2;
  font-weight: 600;
}
footer h3 {
  color: var(--spanorange);
  font-size: 20px;
  font-family: oxygen-1;
  padding-bottom: 22px;
}
.Reach {
  padding-left: 13%;
  justify-content: center;
  align-items: baseline;
}

.Reach-us {
  display: flex;

  gap: 6px;
}
.Links {
  padding-left: 15%;
  width: 15%;
}
.About {
  padding-left: 1%;
}
.Products {
  padding-left: 17%;
}
.last-footer {
  display: flex;
  padding: 100px 10% 24px 10%;
}
.right-last {
  margin-left: auto;
  display: flex;
  gap: 20px;
}
.last-footer p {
  font-family: oxygen-2;
  font-size: 13px;
  font-weight: 600;
  color: var(--lightgray);
  line-height: 30px;
}

/* DROPDOWN-MENU */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 3rem;
  top: 80px;
  width: 200px;
  height: 0;
  background: rgba(240, 177, 154, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open {
  height: 330px;
}
.dropdown-menu li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu .box {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.dropdown-menu a:hover {
  color: var(--gray);
}

@media only screen and (max-width: 600px) {
  .left-menu,
  .right-menu {
    display: none;
  }
  .togglebutton {
    display: block;
  }
  .dropdown-menu {
    display: block;
  }
  /* HEADER */
  header {
    background-color: var(--light-orange);
    max-width: 100%px;
  }
  .header-container {
    width: 90%;
    padding: 23px 5% 0px 5%;
    min-height: 656px;
  }

  /* NAV MENU */
  .logo {
    height: 33px;
    width: 118.42px;
    margin-bottom: 100px;
    cursor: pointer;
  }
  nav {
    padding-top: 0px;
    margin-bottom: 0px;
  }
  /* LANDING PAGE */
  .landing-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 77px;
  }
  .landing-text {
    width: 100%;
  }
  .landing p {
    display: none;
  }
  .landing a {
    font-size: 14px;
  }

  .L-2 {
    color: var(--spanorange);
    border-radius: 4px;
    margin: 24px 0px 0px 0px;
  }
  .L-2:hover {
    padding: 5px 10px;
    border: 1px solid var(--spanorange);
    color: var(--spanorange);
    background-color: var(--light-orange);
  }
  .landing h1 {
    height: 50px;
    font-family: oxygen-1;
    font-size: 20px;
    font-weight: 700;
    color: var(--gray);
    text-align: center;
    margin: 0px 0%;
    padding-bottom: 20px;
  }
  .landing h6 {
    font-family: poppins-1;
    font-size: 13px;
    color: var(--lightgray);
    font-weight: 400;
    text-align: center;
    padding-top: 5px;
    margin: 0px 7%;
  }
  #account {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .circle {
    position: relative;
    left: 140px;
    top: 10px;
    height: 165px;
    width: 165px;
  }
  .laptop {
    position: relative;
    right: 80px;
    top: -35px;
    height: 110px;
    width: 255px;
  }
  .photo {
    width: 100%;
    margin-top: 57px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  /* SECTION 1 */
  .section-1 {
    width: 100%;
    min-height: 571px;
    align-items: center;
  }
  .section-1-container {
    width: 90%;
    margin: 0px 5% 0px 5%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .users h2 {
    font-size: 24px;
    font-weight: 600;
    width: 80%;
  }
  .paga-uses {
    padding: 45px 0px 0px 0px;

    display: flex;
    flex-direction: row;
  }
  .paga-uses h4 {
    font-family: oxygen-1;
    font-size: 20px;
    color: var(--orange);
    padding-top: 10px;
  }
  .paga-uses p {
    font-family: oxygen-2;
    font-size: 16px;
    color: var(--lightgray);
    font-weight: 600;
    padding-top: 10px;
  }
  .paga-uses a {
    text-decoration: none;
    color: var(--orange);
    font-family: oxygen-1;
    font-size: 16.2px;
    line-height: 100px;
  }
  .paga-uses-1 {
    background-color: var(--light-orange);
    padding: 20px 30px 0px 30px;
    border-radius: 0px;
    width: 100%;
    justify-content: center;
  }
  .buttons-11 {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
  }
  .buttons-11 img {
    width: 14px;
    height: 14px;
  }
  .paga-uses-2,
  .paga-uses-3,
  .paga-uses-4,
  .paga-uses-5,
  .paga-uses-6 {
    display: none;
  }
  /* SECTION 2 */
  .section-2 {
    width: 100%;
    min-height: 1104px;
  }
  .section-2-container {
    width: 90%;
    margin: 0px 5% 0px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 90px;
  }
  .why-paga h2 {
    text-align: center;
    font-size: 30px;
    padding: 10px 0px 100px 0px;
    color: var(--gray);
  }
  .why-paga p {
    padding: 4.5px;
    font-size: 12px;
  }

  .why-contents {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .why-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .why-1 h3 {
    font-size: 18px;
    text-align: center;
    padding-top: 24px;
  }
  .why-1 p {
    font-size: 14px;
    text-align: center;
    padding-top: 16px;
  }
  /* SECTION 3 */
  .section-3 {
    min-height: 34.125rem;
  }
  .section-3-container {
    width: 90%;
    padding: 40px 5% 0px 5%;
  }

  .TV-test h1 {
    font-size: 24px;
  }
  .TV-test p {
    font-size: 14px;
    padding: 16px 0px 50px 0px;
  }
  .tv-stations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-evenly;
  }
  .tv-stations img {
    aspect-ratio: 70/43;
    object-fit: contain;
    border-radius: 5px;
    width: 70px;
    height: 43.08px;
  }
  #tv-2 img {
    margin-left: 0%;
  }
  /* SECTION 4 */
  .section-4 {
    width: 100%;
  }
  .section-4-container {
    width: 90%;
    margin: 90px 5% 50px 5%;
    min-height: 45.75rem;
    border-radius: 30px;
    align-content: center;
  }
  .agents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .agent-text {
    width: 100%;
    padding: 44px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .agent-text h5 {
    text-align: center;
    font-size: 11px;
  }
  .agent-text h1 {
    font-size: 24px;
    text-align: center;
  }

  .agent-text p {
    font-size: 14px;
    padding-top: 18px;
    text-align: center;
  }

  #agent-link-2 a {
    padding: 10px 20px;
  }

  .agent-link {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 40px;
    padding-top: 0px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }
  .agent-img {
    margin: 70px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: 90%;
  }
  .img-1 img {
    position: relative;
    width: 132px;
    height: 132px;
    left: 25px;
  }
  .img-2 img {
    position: relative;
    width: 118px;
    height: 118px;
    left: 80px;
    top: 0px;
    right: 0px;
  }
  .img-3 img {
    position: relative;
    width: 132px;
    height: 132px;
    top: 150px;
    left: -130px;
    right: 0px;
  }

  /* SECTION 5 */
  .section-5-container {
    min-height: 558px;
  }
  .customer-text {
    font-size: 24px;
    padding: 40px 0px 60px 0px;
  }
  .customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0% 0px 0%;
    width: 90%;
    margin: 0px 5% 66px 5%;
  }

  .customers-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .customers-1 h2 {
    font-size: 20px;
  }
  .customers-1 p {
    font-size: 14px;
  }

  .customers-1 img {
    margin-left: 0%;
  }
  #cus {
    display: none;
  }

  .buttons {
    padding-bottom: 63px;
  }
  .buttons-1,
  .buttons-3 {
    width: 14px;
    height: 14px;
  }
  .buttons-2 {
    width: 18px;
    height: 18px;
  }
  /* SECTION 6 */
  .section-6 {
    margin-top: 0px;
  }
  .section-6-container {
    min-height: 322px;
    width: 90%;
    margin: 0px 5%;
  }
  .partners-text h1 {
    font-size: 24px;
    margin: 40px 0px 32px 0px;
  }
  .section-6 img {
    width: 100%;
    aspect-ratio: 332/122.51;
    margin-bottom: 40px;
  }

  /* SECTION 7 */
  .section-7-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 335px;
    margin: 50px 5% 70px 5%;
    justify-content: center;
    align-content: center;
  }

  .download-text {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0px 0px 0px;
  }
  .download-text h5 {
    background-color: #fdb913;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    padding: 8px 10px 4px 10px;
    font-size: 12px;
    font-family: oxygen-2;
    font-weight: 500;
  }
  .download-text h1 {
    font-family: oxygen-1;
    font-size: 24px;
    padding-top: 8px;
    width: 70%;
    text-align: center;
  }
  .download-img .hand {
    display: none;
  }

  .download-img .hand-1 {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .download-link {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 40px;
  }

  #apple-link img {
    border-radius: 10px;
  }

  #goggle-link img {
    border-radius: 10px;
  }
  .download-link img {
    width: 156px;
    aspect-ratio: 9/3;
  }

  /* FOOTER */
  footer {
    background-color: var(--light-orange);
    min-height: 65.375rem;
    width: 100%;
  }
  .footer-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 5% 0 5%;
  }
  .footer-logo {
    padding: 40px 0px 24px 0px;
  }
  .paga-text {
    font-size: 14px;
  }
  .footer-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .socials {
    display: flex;
    gap: 12px;
    padding-top: 24px;
  }
  .social-1 {
    background-color: rgb(248, 213, 200);
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
  #insta {
    padding-left: 5px;
    padding-bottom: 1px;
  }
  #fb {
    padding-left: 8px;
    padding-bottom: 1.5px;
  }
  #twit {
    padding-left: 5px;
    padding-bottom: 1.5px;
  }
  #yt {
    padding-left: 5px;
    padding-bottom: 3px;
  }
  .footers {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 70px 10px;
    padding-left: 0%;
  }

  footer a {
    font-size: 14px;
  }
  .Reach {
    padding-left: 0%;
    margin-left: 30%;
    width: 65%;
  }
  .Links {
    padding-left: 0%;
    width: 100%;
    margin-left: 10%;
  }
  .About {
    padding-left: 0%;
    margin-left: 10%;
  }
  .Products {
    padding-left: 0px;
    width: 40%;
    margin-left: 30%;
  }
  .last-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 84px 0% 56px 0%;
  }
  .right-last {
    margin: 0px;
  }
}
