@font-face {
  font-family: oxygen-1;
  src: url("../fonts/Oxygen/Oxygen-Bold.ttf");
}
@font-face {
  font-family: oxygen-2;
  src: url("../fonts/Oxygen/Oxygen-Light.ttf");
}
@font-face {
  font-family: oxygen-3;
  src: url("../fonts/Oxygen/Oxygen-Regular.ttf");
}

@font-face {
  font-family: poppins-1;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: poppins-2;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
}
:root {
  --orange: #f16725;
  --light-orange: #ffffe3;
  --lightgray: #5a5a5e;
  --spanorange: #ff5555;
  --gray: #1e1f38;
}
span {
  color: var(--spanorange);
}
.span-1 {
  color: var(--orange);
}
.space {
  margin: 150px;
}
header {
  background-color: var(--light-orange);
  width: 100%;
  min-height: 46.25rem;
}
.header-container {
  width: 85%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 2.5rem;
}
header a {
  text-decoration: none;
  font-size: 0.875rem;
  font-family: poppins-2;
  font-weight: 700;
  color: var(--lightgray);
}
header a:hover {
  border-bottom: 2px solid var(--lightgray);
}
#flag:hover {
  border-bottom: 0px;
}
.L-1 {
  color: var(--orange);
}
.L-1:hover {
  border-bottom: 2px solid var(--orange);
}
.box {
  background-color: var(--orange);
  padding: 13px 25px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.box:hover {
  border-bottom: 0px;
}
.logo {
  height: 33px;
  width: 118.42px;
  margin-bottom: 100px;
}
.logo a:hover {
  border-bottom: 0px;
}
nav {
  display: flex;
  height: 40px;
  margin-bottom: 120px;
  /* border: 2px solid black; */
}

.left-menu {
  display: flex;
  gap: 40px;
  margin-left: 180px;
  padding-top: 7.5px;
}

.right-menu {
  display: flex;
  margin-left: auto;
  gap: 60px;
  padding-top: 7.5px;
}
.landing-container {
  /* border: 2px solid black; */
  display: flex;
  height: 500px;
  justify-content: center;
}
.landing-text {
  /* border: 2px solid rgb(59, 20, 233); */
  width: 80%;
}
.landing p {
  color: var(--orange);
  padding-bottom: 5px;
  font-family: poppins-1;
  font-size: 14px;
}
.box-2 {
  background-color: var(--orange);
  padding: 13px 27px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.box-2:hover {
  border: 1px solid var(--orange);
  color: var(--orange);
  background-color: var(--light-orange);
}
.L-2 {
  color: var(--spanorange);
  margin-left: 30px;
  border-radius: 4px;
}
.L-2:hover {
  padding: 13px 22px;
  border: 1px solid var(--spanorange);
  color: var(--spanorange);
  background-color: var(--light-orange);
}

.landing h1 {
  width: 100%;
  font-family: oxygen-1;
  font-size: 54px;
  font-weight: 500;
  margin-right: 0px;
  color: var(--gray);
}
.landing h6 {
  width: 85%;
  font-family: poppins-1;
  font-size: 16px;
  color: #5a5a5e;
  font-weight: 400;
  padding-top: 15px;
  /* border: 2px solid black; */
}

#account {
  padding-top: 50px;
}

.circle {
  position: absolute;
  right: 155px;
  top: 270px;
  height: 431px;
  width: 431px;
  /* border: 2px solid rgb(31, 187, 25); */
}
.laptop {
  position: relative;
  right: 40px;
  top: 20px;
  height: 290px;
  width: 666px;
  /* border: 2px solid rgb(112, 54, 219); */
}
.photo {
  display: flex;
  /* border: 2px solid rgb(37, 141, 211); */
  width: 50%;
}
.users {
  /* border: 2px solid black; */
  font-family: oxygen-1;
  font-size: 30px;
  font-weight: 500;
  width: 40%;
  margin-left: 11%;
  color: var(--gray);
}

.paga-uses {
  display: grid;
  gap: 45px 45px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 45px 0% 45px 0%;
  /* border: 2px solid black; */
  width: 78%;
  margin: 0px 11% 0px 11%;
}
.paga-uses h4 {
  /* border: 2px solid black; */
  font-family: oxygen-1;
  font-size: 20px;
  color: var(--orange);
  padding-top: 10px;
}
.paga-uses p {
  /* border: 2px solid black; */
  font-family: oxygen-2;
  font-size: 16px;
  color: var(--lightgray);
  font-weight: 600;
  padding-top: 10px;
}
.paga-uses a {
  /* border: 2px solid black; */
  text-decoration: none;
  color: var(--orange);
  font-family: oxygen-1;
  font-size: 16.2px;
  line-height: 100px;
}
.paga-uses-1 {
  background-color: var(--light-orange);
  padding: 20px 30px;
  border-radius: 30px;
  /* width: 82%; */
  height: 250px;
}
.why-paga h2 {
  text-align: center;
  font-size: 48px;
  font-family: oxygen-1;
  padding: 10px 0px 100px 0px;
  color: var(--gray);
}
.why-paga p {
  background-color: #fdb913;
  width: 100px;
  height: 20px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  padding: 5px;
  font-size: 16px;
  font-family: oxygen-3;
  font-weight: 500;
  color: white;
}

.why-contents {
  display: grid;
  gap: 100px;
  grid-template-columns: auto auto auto;
  width: 70%;
  margin: 0px 15% 0px 15%;
  align-content: center;
  /* border: 2px solid black; */
}
.why-1 {
  margin: auto;
  /* border: 2px solid black; */
}
.why-1 h3 {
  color: var(--orange);
  font-size: 20px;
  font-family: oxygen-1;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}
.why-1 p {
  color: var(--lightgray);
  font-size: 15px;
  font-family: oxygen-2;
  font-weight: 600;
  text-align: center;
  padding-top: 12px;
}
.why-1 img {
  padding: 0px 0px 0 70px;
}

.section-3 {
  background-color: var(--light-orange);
  width: 100%;
  min-height: 47.44rem;
  align-items: center;
}
.section-3-container {
  width: 80%;
  padding: 50px 10% 0px 10%;
}

.TV-test h1 {
  font-size: 48px;
  font-family: oxygen-1;
  color: var(--gray);
  /* border: 2px solid black; */
}
.TV-test p {
  color: var(--spanorange);
  font-size: 24px;
  font-family: oxygen-1;
  padding: 15px 0px 50px 0px;
  /* border: 2px solid black; */
}
.tv-stations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 3.5rem 2.5rem;
  /* border: 2px solid black; */
  align-items: center;
}
.tv-stations img {
  width: 98%;
  aspect-ratio: 156/96;
  object-fit: contain;
  /* border: 2px solid black; */
  border-radius: 5px;
}
#tv-2 img {
  margin-left: 60%;
}
.section-4 {
  width: 100%;
  /* border: 2px solid black; */
}
.section-4-container {
  background-color: var(--orange);
  width: 82%;
  margin: 0px 9% 0px 9%;
  border-radius: 30px;
  color: white;
  align-content: center;
  /* border: 2px solid black; */
  min-height: 29.375rem;
}
.agents {
  display: flex;
  gap: 0%;
  /* border: 2px solid black; */
}

.agent-text {
  /* border: 2px solid black; */
  width: 45%;
  padding: 96px 0px 0px 110px;
  /* height: 400px; */
}
.agent-text h5 {
  background-color: #fdb913;
  width: 120px;
  height: 20px;
  text-align: center;
  border-radius: 50px;
  padding: 4px;
  font-size: 13px;
  font-family: oxygen-2;
  font-weight: 600;
}
.agent-text h1 {
  font-family: oxygen-1;
  font-size: 46px;
  padding-top: 8px;
  /* border: 2px solid black; */
}

.agent-text p {
  font-family: oxygen-2;
  font-size: 19px;
  padding-top: 18px;
  width: 90%;
  /* border: 2px solid black; */
}

#agent-link-1 a {
  text-decoration: none;
  color: var(--orange);
  background-color: white;
  border-radius: 4px;
  padding: 12px 28px;
}
#agent-link-1 a:hover {
  color: var(--light-orange);
  border: 1px solid var(--light-orange);
  background-color: var(--orange);
}
#agent-link-2 a:hover {
  border: 1px solid var(--gray);
  color: var(--gray);
  background-color: var(--orange);
}
#agent-link-2 a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 12px 28px;
}

.agent-link {
  display: flex;
  gap: 18px;
  padding-top: 40px;
  font-family: oxygen-2;
  font-size: 14px;
  font-weight: 600;
  /* border: 2px solid black; */
}
.img-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  /* border: 2px solid white; */
}
.img-2 {
  position: relative;
  /* border: 2px solid black; */
  width: 180px;
  height: 180px;
  left: 270px;
  top: 30px;
  right: 100px;
}
.img-3 {
  position: relative;
  /* border: 2px solid black; */
  width: 200px;
  height: 200px;
  top: 210px;
  right: 100px;
}
.agent-img {
  padding: 50px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px 10px;
  /* border: 2px solid black; */
  width: 45%;
  /* height: 470px; */
}
.section-5 {
  width: 100%;
}
.section-5-container {
  width: 85%;
  margin: 0px 7.5% 80px 7.5%;
  /* min-height: 28rem; */
  /* border: 2px solid black; */
  justify-content: center;
}
.customer-text {
  font-family: oxygen-1;
  font-size: 27px;
  text-align: center;
  padding-bottom: 80px;
  color: var(--gray);
}
.customers {
  display: flex;
  gap: 5%;
  align-items: center;
  /* border: 2px solid black; */
}

.customers-1 {
  /* border: 2px solid black; */
  width: 21%;
}
.customers-1 h2 {
  font-family: oxygen-1;
  font-size: 20px;
  font-weight: 900;
  color: var(--gray);
  text-align: center;
  padding: 12px 0px;
}
.customers-1 p {
  font-family: oxygen-2;
  font-size: 15.5px;
  font-weight: 600;
  color: var(--lightgray);
  text-align: center;
}
.customers-1 img {
  margin-left: 35px;
}
.customers-1 i {
  width: 20px;
  height: 17px;
  color: #55acee;
  padding-left: 10px;
}
.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.section-6 {
  width: 100%;
}
.section-6-container {
  width: 80%;
  margin: 0px 10%;
  align-items: center;
  justify-content: center;
}
.partners-text h1 {
  font-size: 46px;
  font-family: oxygen-1;
  color: var(--gray);
  /* border: 2px solid black; */
  width: 70%;
  margin-bottom: 40px;
}
.section-6 img {
  width: 99.8%;
  aspect-ratio: 1228/453;
  object-fit: contain;
  mix-blend-mode: inherit;
}
footer {
  background-color: var(--light-orange);
  margin-bottom: 0px;
  min-height: 29.44rem;
  max-width: 100%;
}
.footer-container {
  display: flex;
  gap: 5%;
  padding: 80px 5% 0px 10%;
}
.footer-text {
  width: 27%;
  height: 200px;
  /* border: 2px solid black; */
  line-height: 24px;
  text-align: justify;
}
.footer-text a:hover {
  border-bottom: 0px;
}
.socials {
  display: flex;
  gap: 12px;
  padding-top: 20px;
}
.social-1 {
  background-color: rgb(248, 213, 200);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
#insta {
  padding-left: 5px;
  padding-bottom: 1px;
}
#fb {
  padding-left: 8px;
  padding-bottom: 1.5px;
}
#twit {
  padding-left: 5px;
  padding-bottom: 1.5px;
}
#yt {
  padding-left: 5px;
  padding-bottom: 3px;
}
.footers {
  /* border: 2px solid black; */
  width: 80%;
  display: flex;
  /* gap: 10%; */
}

footer a {
  text-decoration: none;
  font-family: oxygen-2;
  font-size: 13px;
  font-weight: 600;
  color: var(--lightgray);
  line-height: 30px;
}
footer a:hover {
  border-bottom: 2px solid var(--lightgray);
}
footer h3 {
  color: var(--spanorange);
  font-size: 20px;
  font-family: oxygen-1;
  padding-bottom: 22px;
}
.Reach {
  padding-left: 13%;
  justify-content: center;
  align-items: baseline;
}

.Reach-us {
  display: flex;

  gap: 6px;
}
.Links {
  padding-left: 15%;
  width: 15%;
}
.About {
  padding-left: 1%;
}
.Products {
  padding-left: 17%;
}
.last-footer {
  display: flex;
  /* padding-top: 130px; */
  padding: 130px 10% 0px 10%;
}
.right-last {
  margin-left: auto;
}
.last-footer p {
  font-family: oxygen-2;
  font-size: 13px;
  font-weight: 600;
  color: var(--lightgray);
  line-height: 30px;
}
.section-7 {
  background-color: var(--orange);
  width: 82%;
  height: 400px;
  margin: 0px 9% 0px 9%;
  border-radius: 40px;
  color: white;
  align-content: center;
}

.download {
  display: flex;
  gap: 10%;
}

.download-text {
  /* border: 2px solid black; */
  width: 45%;
  padding: 60px 0px 0px 110px;
  height: 320px;
}
.download-text h5 {
  background-color: #fdb913;
  width: 200px;
  height: 30px;
  text-align: center;
  border-radius: 50px;
  padding: 12px 15px 0px 15px;
  font-size: 16px;
  font-family: oxygen-2;
  font-weight: 500;
}
.download-text h1 {
  font-family: oxygen-1;
  font-size: 36px;
  padding-top: 8px;
}
.download-img {
  /* border: 2px solid black; */
  padding-top: 40px;
}

.download-link {
  display: flex;
  gap: 40px;
  /* border: 2px solid black; */
  margin-top: 20px;
  height: 70px;
}

#apple-link img {
  /* width: 200px;
  height: 60px; */
  /* border: 2px solid black; */
  border-radius: 10px;
}

#goggle-link img {
  /* width: 200px;
  height: 60px; */
  /* border: 2px solid black; */
  border-radius: 10px;
}
.download-link img {
  width: 200px;
  aspect-ratio: 9/3;
}
